{% extends "layout.html" %}
{% block content %}
    <h1 class='heading'>Login Page.</h1>
    <a href="{{ url_for('home')}}">Home</a>   
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign in</legend>
                <div>
                    {{ form.email.label() }}
                    {{ form.email() }}
                </div>
                <div>
                    {{ form.password.label() }}
                    {{ form.password() }}
                </div>
                <div>
                    {{ form.remember.label() }}
                    {{ form.remember() }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
        <p>Not a member? <a href="{{ url_for('register')}}">SIGN UP</a></p>
    </div>
{% endblock content %}